<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/daterangepicker-compare/dist/daterangepicker-compare.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
</head>
<body ng-app="ngDrpCompareApp">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
<div class="container">
    <div id="header" class="header">
        <h3 class="text-muted">ngDaterangepickerCompare</h3>
    </div>
    <div id="content">
        <div class="row">
            <div class="col-lg-12">
                <drp-compare class="pull-right" ng-model="input.dateRange" format="DD/MM/YYYY" compare="true"/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <pre>{{input.dateRange | json }}</pre>
                <input type="checkbox" ng-model="input.dateRange.compare">Compare</input>
            </div>
            <div class="col-lg-4">
                <input type="text" size="50" ng-model="input.dateRange.startDate"/>
                {{input.dateRange.startDate}}
            </div>
        </div>
    </div>
    <div id="footer" class="footer">
        <p>Chihab Otmani</p>
    </div>
</div>

<!-- build:js(.) scripts/oldieshim.js -->
<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="bower_components/moment/moment.js"></script>
<script src="bower_components/daterangepicker-compare/dist/daterangepicker-compare.min.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="ng-daterangepicker-compare.js"></script>
<script>
    var translated_dates = {
        days: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
        daysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        daysMin: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'],
        months: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
        monthsShort: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    };
    angular.module('ngDrpCompareApp', ['ngDrpCompare'])
            .controller('MainCtrl', function ($scope) {
                $scope.input = {
                    'dateRange' : {
                        'startDate': new Date(2014, 5, 1),
                        'endDate': new Date(2014, 5, 30),
                        'startDateCompare': null,
                        'endDateCompare': null,
                        'compare' : false
                    }
                };
            });

</script>
<!-- endbuild -->
</body>
</html>
